<!-- Validation failure messages -->
<% if @assumption.errors.any? %>
  <% @assumption.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Assumption #<%= @assumption.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_assumption/<%= @assumption.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for connector -->
      <div class="form-group">
        <label for="connector" class="control-label">
          Connector
        </label>

        <textarea id="connector" name="connector" placeholder="Connector" class="form-control" rows="3"><%= @assumption.connector %></textarea>
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"><%= @assumption.body %></textarea>
      </div>

      <!-- Label and input for setup_id -->
      <div class="form-group">
        <label for="setup_id" class="control-label">
          Setup
        </label>

        <input type="text" id="setup_id" name="setup_id" placeholder="Setup" class="form-control" value="<%= @assumption.setup_id %>">
      </div>

      <button class="btn btn-warning">
        Update Assumption
      </button>
      or
      <a href="/assumptions/<%= @assumption.id %>">Cancel</a>
    </form>
  </div>
</div>
