<div class="page-header">
  <h3><%= @assumption.body %></h3>
  <h4>Choose a reinterpretation, and compose a 2nd story</h4>
</div>


<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Body</dt>
      <dd><%= @assumption.body %></dd>
      <dt>Connector</dt>
      <dd><%= @assumption.connector %></dd>


      <dt>Setup</dt>
      <dd><%= @assumption.setup_id %></dd>

    </dl>
    <div class="btn-group btn-group-justified">
      <a href="/assumptions" class="btn btn-default btn-sm">
        Back
      </a>
      <a href="/assumptions/<%= @assumption.id %>/edit" class="btn btn-default btn-sm">
        Edit
      </a>
      <a href="/delete_assumption/<%= @assumption.id %>" class="btn btn-default btn-sm" rel="nofollow">
        Delete
      </a>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover">
          <tr>
            <th>Body</th>
            <th>Actions</th>
          </tr>

          <% @reinterpretations.each do |reinterpretation| %>
          <tr>
            <td><%= reinterpretation.body %></td>
            <td>
              <a href="/reinterpretations/<%= reinterpretation.id %>" class="btn btn-default btn-sm"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
              <a href="/reinterpretations/<%= reinterpretation.id %>/edit" class="btn btn-default btn-sm"><i class="fa fa-edit fa-fw"></i></a>
              <a href="/delete_reinterpretation/<%= reinterpretation.id %>" class="btn btn-default btn-sm" rel="nofollow"><i class="fa fa-trash-o fa-fw"></i></a>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>


    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Create a new reinterpretation
          </h3>
        </div>
        <div class="panel-body">
          <form action="/create_reinterpretation" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <!-- Label and input for body -->
            <div class="form-group">
              <label for="body" class="control-label">
                Body
              </label>

              <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"></textarea>
            </div>

            <input type="hidden" id="assumption_id" name="assumption_id" placeholder="Setup" class="form-control" value="<%= @assumption.id %>">

            <button class="btn btn-default btn-sm">
              Create Reinterpretation
            </button>
          </form>
        </div>
      </div>
    </div>




  </div>
</div>
