<div class="page-header">
  <h1>
    Reinterpretations
    <a href="/reinterpretations/new" class="btn btn-lg btn-success">New Reinterpretation</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Connector</th>
        <th>Assumption</th>
        <th>Body</th>
        <th>Actions</th>
      </tr>

      <% @reinterpretations.each do |reinterpretation| %>
      <tr>
        <td><%= reinterpretation.connector %></td>
        <td><%= reinterpretation.assumption_id %></td>
        <td><%= reinterpretation.body %></td>
        <td>
          <a href="/reinterpretations/<%= reinterpretation.id %>" class="btn btn-primary">Show</a>
          <a href="/reinterpretations/<%= reinterpretation.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_reinterpretation/<%= reinterpretation.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
